<h1 class="text-2xl font-bold mb-4">Your Orders</h1>

<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
      <tr>
        <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-1xl font-bold text-gray-700">Order ID</th>
        <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-1xl font-bold text-gray-700">Status</th>
        <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-1xl font-bold text-gray-700">shipping Address</th>
        <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-1xl font-bold text-gray-700">Order Items</th>
        <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-1xl font-bold text-gray-700">Total</th>
        <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-1xl font-bold text-gray-700">Download Invoice</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.find_each do |order|%>
        <tr class="hover:bg-gray-50 transition">
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-800 font-medium">
            Order #<span class="text-indigo-600"><%= order.id %></span>
          </td>

          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-800 font-medium">
            <span class="font-medium 
              <%= order.status == 'shipped' ? 'bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300' : 'bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300' %>">
              <%= order.status.capitalize %>
            </span>
          </td>

          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-800 font-medium">
            <% if order.user.address.present? %>
              <%= order.user.address %>
            <% else %>
              <span class="text-red-500">No shipping address provided</span>
            <% end %>
          </td>

          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-800 font-medium">
            <ul class="list-disc pl-5 space-y-2">
              <% order.order_items.find_each do |item| %>
                <li>
                  <span class="font-medium text-gray-800"><%= item.product.name %></span> - 
                  Quantity: <span class="font-semibold"><%= item.quantity %></span>
                </li>
              <% end %>
            </ul>
          </td>

          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-800 font-medium">
            <%= number_to_currency(order.order_items.sum { |item| item.product.price * item.quantity }) %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-blue-600 hover:underline font-medium">
            <%= link_to 'Download link', invoice_order_path(order, format: :pdf), target: '_blank' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

