<h1>All Placed Orders</h1>

<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="px-6 py-2 border">Order ID</th>
      <th class="px-6 py-2 border">Customer</th>
      <th class="px-6 py-2 border">Total Amount</th>
      <th class="px-6 py-2 border">Status</th>
      <th class="px-6 py-2 border">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="px-6 py-4 border"><%= order.id %></td>
        <td class="px-6 py-4 border"><%= order.user.name %></td>
        <td class="px-6 py-4 border">$<%#= order.total_amount %></td> 
        <td class="px-6 py-4 border"><%= order.status.capitalize %></td>
        <td class="px-6 py-4 border">
          <%= link_to 'View Order', order_path(order), class: 'text-blue-500' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Your Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <% order.order_items.each do |item| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td>
            <%= form_with(model: order, url: sellers_order_path(order), method: :patch, local: true) do |form| %>
              <%= form.select :status, options_for_select([['Confirmed', 2], ['Shipped', 3]], order.status), {}, class: 'form-select' %>
              <%= form.submit 'Update', class: 'btn btn-primary' %>
            <% end %>
          </td>
          <td><%= order.status %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
