<h1 class="text-3xl font-bold text-gray-800 mb-8">Products</h1>
<%= link_to 'Add New Product', new_sellers_product_path, class: "top-right-btn bg-green-500 text-white py-2 px-4 rounded" %>

<table class="min-w-full bg-white">
  <thead>
    <tr>
      <th class="text-left py-3 px-4">Name</th>
      <th class="text-left py-3 px-4">Category</th>
      <th class="text-left py-3 px-4">Price</th>
      <th class="text-left py-3 px-4">Stock</th>
      <th class="text-left py-3 px-4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="py-3 px-4"><%= product.name %></td>
        <td class="py-3 px-4"><%= product.category.name if product.category %></td>
        <td class="py-3 px-4">$<%= product.price %></td>
        <td class="py-3 px-4"><%= product.stock %></td>
        <td class="py-3 px-4">
          <%= link_to sellers_product_path(product), class: "text-blue-500 hover:underline" do %>
          <i data-fa-symbol="favorite" class="fa-solid fa-star fa-fw"></i>
          <% end %> 
          <%= link_to edit_sellers_product_path(product), class: "text-yellow-500 hover:underline" do %>
          <i data-fa-symbol="edit" class="fa-solid fa-pencil fa-fw"></i>
          <% end %> 
          <%= link_to sellers_product_path(product), data: { turbo_method: :delete } do %>
          <i data-fa-symbol="delete" class="fa-solid fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
