<%= render 'sellers/shared/partial' %>
<div class="bg-white" style="padding-left: 117px;">
  <div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-8" style="padding-right: 50px;">Products</h1>
  </div>
  <%= link_to 'Add New Product', new_sellers_product_path, class: "top-right-btn focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
  <%= button_to 'Export Products to CSV', sellers_downloads_path(resource_type: 'products'), method: :post, class: "top-btn focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class=" table w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xl text-gray-700 font-bold uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Name
                </th>
                <th scope="col" class="px-6 py-3">
                  Category
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Price
                </th>
                <th scope="col" class="px-6 py-3">
                  Stock
                </th>
                <th scope="col" class="px-6 py-3">
                  Actions
                </th>
            </tr>
        </thead>
        <tbody>
          <% @products.find_each do |product| %>
            <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                <%= product.name %>
              </th>
              <td class="px-6 py-4">
                <%= product.category.name if product.category %>
              </td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                $<%= product.price %>
              </td>
              <td class="px-6 py-4">
                <p class="mt-4 text-lg font-medium text-gray-900">Stock: 
                  <% if product.stock > 0 %>
                    <span style="color: green;"><%= product.stock %> available</span>
                  <% else %>
                    <span style="color: red;">Out of Stock</span>
                  <% end %>
              </td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                <%= link_to sellers_product_path(product), class: "text-blue-500 hover:underline" do %>
                <i class="fa-solid fa-eye"></i>
                <% end %> 
                <%= link_to edit_sellers_product_path(product), class: "text-yellow-500 hover:underline" do %>
                <i data-fa-symbol="edit" class="fa-solid fa-pencil fa-fw"></i>
                <% end %> 
                <%= link_to sellers_product_path(product), data: { turbo_method: :delete } do %>
                <i data-fa-symbol="delete" class="fa-solid fa-trash fa-fw"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
