<h2 class="text-2xl font-semibold mb-6">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="field">
    <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>  
  <div class="mb-4">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <% if @minimum_password_length %>
      <em class="text-xs text-gray-500">(minimum <%= @minimum_password_length %> characters)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-1" %>
  </div>
  
  <div class="field">
    <h3>Address</h3>
    <%= f.fields_for :address do |address_form| %>
      <div class="field">
        <%= address_form.label :street, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= address_form.text_field :street, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="field">
        <%= address_form.label :city, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= address_form.text_field :city, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="field">
        <%= address_form.label :state, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= address_form.text_field :state, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="field">
        <%= address_form.label :zip_code, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= address_form.text_field :zip_code, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="field">
        <%= address_form.label :country, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= address_form.text_field :country, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
  
  <div class="flex items-center justify-between">
    <%= f.submit "Sign up", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="text-center mt-4">
    <%= link_to 'Log In as Seller', new_seller_session_path, class: 'text-blue-500 hover:text-blue-700' %> |
    <%= link_to 'Sign Up as Seller', new_seller_registration_path, class: 'text-blue-500 hover:text-blue-700' %>
  </div>
<% end %>

<%= render "users/shared/links", class: "text-center mt-4 text-sm text-gray-600" %>
